*{
    margin: 0%;
    padding: 0%;
    
}

header{
    background-color: chartreuse;
}
body{
    background-color: gainsboro;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 15px;
}

li:hover{
    background-color: rgb(245, 247, 246);
    color: chartreuse;
}

#box{
    display: flex;
    margin: 5px;
    font-size: 30px;
}

#principal{
    margin-right:0px;
    background-color: rgb(245, 247, 246);
    border: solid black;
    border-radius: 3px;
    height: 300px;
    width: 600px;
    justify-content: center;
    overflow: hidden;
    
}

#principal img{
    height: 300px;
    width: 600px;
    
}




#lateral{
    margin-right: 10px;
    background-color: rgb(245, 247, 246);
    border: solid black;
    border-radius: 3px;
    height: 300px;
    width: 450px;
}


p{
   color: black;
}

#box2{
    display: flex;
}

.extra{
    margin-right: 150px;
    margin-left: 150;
    background-color: rgb(245, 247, 246);
    border: solid black;
    border-radius: 3px;
    height: 400px;
    width: 500px;
    display: flex;
    overflow: hidden;
}

.extra img{
     height: 400px;
    width: 200px;
    border: solid black 3px;
}

.extra p{
    font-size: 19.2px;
}
