*{
    margin:0;
    padding:0;
}

body{
    background-image: url(images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(12, 226, 137);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

ul{
    list-style: none;
    display: flex;

}

li{
    margin: 10px;
    cursor: pointer;
}

li:hover{
    color: white;
    transform: scale(1.20);
}

a{
    text-decoration: none;
    color: inherit;

}

h2{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#box{
    display: flex;
    margin: 20px;

}

#principal{
    background-color: white;
    border: 4px solid black;
    margin-right: 10px;
    width: 600px;
    height: 450px;
    border-radius: 7px;
}

#principal img{
    width: 600px;
    height: 450px;
    border-radius: 7px;
}

#lateral{
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    width: 450px;
    font-size: 20px;
    border-radius: 7px;
}

.compra{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.compra:hover{
    background-color: black;
    color: chartreuse;
}


#box-secundario{
    display: flex;
    gap: 20px; 
    margin: 20px;
}

#box-secundario :hover{
    border-color: chartreuse;
    box-shadow: 0 0 15px chartreuse;

}


.box{
    height: 275px;
    width: 300px;
    border: solid black 4px;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;    
}

.box p{
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box .extra img{
    width: 100%;
    height: 275px;
    border-radius: 7px;
}
